<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="assests/css/style.css">
</head>

<body>
    <nav>
        <div class="navbar">
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#education">EDUCATION</a></li>
                <li><a href="#skills">SKILLS</a></li>
                <li><a href="#experience">EXPERIENCE</a></li>
                <li><a href="#products">PRODUCTS</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    <section id="home">
        <div class="main">
            <div class="info">
                <h3>Hi, I'm <span>Muhammad Yousaf</span>.</h3>
                <h1><span>S</span>oftware <span>E</span>ngineer</h1>
                <h3>A software engineer and developer from Pakistan.
                    I create websites to help businesses succeed online.</h3>
                <a href="#">Hire Me</a>
            </div>
            <div class="image">
                <img src="assests/pic/WhatsApp_Image_2023-06-25_at_11.11.38_PM-removebg-preview.png" class="boy">
            </div>

        </div>
    </section>

    <section id="about">
        <div class="about-section">
            <h2>About Me</h2>
            <p>Hey there! I'm Muhammad Yousaf, a BS Computer Science student. I'm passionate about coding and all things
                tech-related.

                My journey into the world of software engineering started a few years ago, and since then, I've been
                immersed in learning various programming languages and exploring different aspects of software
                development.

                In my free time, you'll often find me tinkering with code, working on personal projects, or diving into
                the latest tech trends. I believe that technology has the power to shape the future, and I'm excited to
                be part of that journey.

                This space is where I share my experiences, challenges, and insights as I navigate through my software
                engineering journey. Join me as I continue to learn, grow, and explore the ever-evolving world of
                technology!</p>
        </div>
    </section>

    <section id="education">
        <div class="education-section">
            <h2>Education</h2>
            <p><b>Bachelor of Science in Computer Science</b><br>
                UMT, Lahore <br>
                2021-2025 <br>
                <b>FSC Pre Engineering</b> <br>
                Pak-Turk Maarif, Lahore <br>
                2019-2021 <br>
                <b>Matriculation</b> <br>
                Unique High School <br>
                2017-2019
            </p>
        </div>
    </section>

    <section id="skills">
        <div class="skills-section">
            <h2>Skills</h2>
            <p> <b>Programming Languages: </b> <br>
                Proficient in: Java, Python, Node js <br>
                Familiar with: C++, PHP, c#, Go, Kotlin <br>

                <b> Web Development: </b> <br>
                Experience with HTML, CSS, and JavaScript for front-end development
                Familiarity with frameworks such as React.js and next.js
                Knowledge of back-end development using Node.js and Express <br>

                <b>Database Management: </b> <br>
                Experience with relational database systems like MySQL and PostgreSQL <br>

                <b> Software Development Tools: </b> <br>
                Version control with Git <br>
                Familiarity with IDEs such as Visual Studio Code and IntelliJ IDEA <br>

                <b>Problem-Solving: </b> <br>
                Strong analytical and problem-solving skills honed through coursework and personal projects
                Ability to approach complex problems systematically and develop efficient solutions <br>

                <b>Team Collaboration: </b> <br>
                Experience working in team-based projects, collaborating with colleagues to achieve common goals
                Effective communication skills, both written and verbal, in team settings <br>

                <b>Continuous Learning: </b> <br>
                Enthusiastic about staying updated with the latest technologies and industry trends
                Proactive in seeking out learning opportunities and expanding knowledge in software engineering
            </p>
        </div>
    </section>

    <section id="experience">
        <div class="experience-section">
            <h2>Experience</h2>
            <p> <b> Freelance Web Developer </b> <br>
                Worked with clients to understand their requirements and deliver customized web solutions. <br>
                Developed responsive and user-friendly websites using HTML, CSS, JavaScript and PHP. <br>
                Integrated back-end functionality using Node.js and Express, connecting to databases for data storage
                and retrieval. <br>
            </p>
        </div>
    </section>

    <section id="products">
        <div class="products-section">
            <h2>Products</h2>
            <p> <b>Personal Portfolio Website </b> <br>
                Designed and developed a personal portfolio website to showcase projects, skills, and experiences.
                Utilized HTML, CSS, and JavaScript for front-end development, focusing on responsive design principles.
                <br>

                <b>Stock Management System</b> <br>
                Developed a stock management system for inventory tracking and control using html,css,JavaScript and
                PHP. Designed an intuitive user interface with features for adding, updating, and deleting stock items,
                as well as generating reports.
                Implemented database connectivity with MySQL for storing and retrieving stock data securely.
            </p>
        </div>
    </section>

    <section id="contact">
        <div class="contact-section">
            <h2>Contact Me</h2>
            <form action="/submit-contact-form" method="post">
                <div class="form-group">
                    <label for="name">Your Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Your Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
                </div>
                <button type="submit">Send Message</button>
            </form>

        </div>
    </section>
</body>

</html>