<!DOCTYPE html>
<html lang="en">

<head>
    <title>Submission Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h2>
        <%= message %>
    </h2>
    <a href="/">Go back to the form</a>
</body>

</html>